<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css"/>
		<script src="./js/jquery.min.js"></script>		
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/laydate/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
		<link rel="stylesheet" type="text/css" href="./js/vant/vantIndex.css"/>
		<script src="js/vant/vant.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vant/Area.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/@vant/touch-emulator"></script>
		
		<style>
			.tk_btns{
				margin-top: 10px;
				border-top: 1px solid #E4E4E4;
				padding-top: 20px;
			}
			.tk_btns div{
				font-size: 12px;
				color: #fff;
				width: 59px;
				height: 30px;
				background: #EB5F34;
				border-radius: 4px;
				margin: 0 20px;
	 cursor: pointer;
			}
			.tk_btns .tk_btns_d1{
				background: #CACACA;
			}
			.getcode{
				font-size: 12px;
				color: #FFFEFE;
				width: 80px;
				height: 27px;
				background: #EB5F34;
				border-radius: 4px;
	 cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div id="myzhaq">
			<div class="w100 set_list" style="padding: 30px 50px 20px;">
				
				<div style="min-height: 200px;">
					<div class="dis_flex aic set_li" @click="sel_area()">
						<div class="set_li_name">*收货区域：</div>
						<!-- <input type="text" class="cpointer" id="city" placeholder="请选择" readonly v-model="xm_add"/> -->
						<input type="text" class="cpointer" v-model="area" placeholder="请选择区域" readonly />
						<!-- <van-area title="标题" :area-list="areaList" :columns-num="2" /> -->
					</div>
					<div class="dis_flex aic set_li">
						<div class="set_li_name">*详细地址：</div>
						<input type="text" v-model="add_xq" placeholder="请输入详细地址"/>
					</div>
					<div  v-if="type!=3" class="dis_flex aic set_li">
						<div class="set_li_name">*收货人：</div>
						<input type="text" placeholder="请输入收货人" v-model="xm_fbf"/>
					</div>
					<div  v-if="type!=3" class="dis_flex aic set_li">
						<div class="set_li_name">*收货人手机号：</div>
						<input type="text" placeholder="请输入收货人手机号" v-model="tel"/>
					</div>
				</div>
				<div v-if="type!=3" class="dis_flex aic set_li">
					<div class="set_li_name"></div>
					<div class="dx_xz_li dis_flex aic" @click="xz_fuc(0,item)">
						<span class="dx_xz_li_box dis_flex aic ">
							<i  v-if="moren==true" class="iconfont icon-duigou cEE0913" ></i>
						</span>
						<div  style="width: 7em;">设置为默认地址</div>
					</div>
				</div>
			</div>
			<!-- 项目地址 -->
			 <van-popup v-model="show_area" position="bottom" :overlay="true">
				 <van-area :area-list="areaList" :columns-num="3" @confirm="conf" @cancel="cancelfun" />
			 </van-popup>
			<div class="tk_btns dis_flex aic ju_c">
				<div class="dis_flex aic ju_c"  @click="sub">确定</div>
				<div class="dis_flex aic ju_c tk_btns_d1" @click="quxiao">关闭</div>
			</div>
		</div>
		<script>
			// 意见反馈
			
			$(function(){
				
				console.log(getNowCanshu().id)
				vm_myzhaq.type=getNowCanshu().type||0
			})
			
			var vm_myzhaq = new Vue({
					el: '#myzhaq',
					data: {
						type:0,
						areaList:area_data,
						area: '',
						areaarr: ['','',''],
						show_area:false,
						add_xq: '',
					
						xm_fbf: '',
						tel:'',
						moren:false
					
					},
					created: function() {
						console.log('vm_myzhaq')
					
					},
					mounted:function(){
					this.type=getNowCanshu().type||0
					},
					methods: {
						xz_fuc:function(num,item) {
							this.moren=!this.moren
						},
						onConfirm(e){
							console.log(e)
						},
						onConfirm6(value) { //购买时间
						    // this.zm_time = gettime(value);
						    this.show_zm = false;
						    this.show_jf = false;
						},
						sel_area:function() {
						  this.show_area = true;
						},
						cancelfun:function() {
						  this.show_area = false;
						},
						conf:function(res) {
						  // alert( JSON.stringify( res ) )
						  this.show_area = false;
						  var area1 = ''
						  this.areaarr = ['', '', '']
						  for (var i in res) {
						    area1 += res[i].name
						    if (res[i] && res[i] != null) {
						      this.areaarr[i] = res[i].name
						    }
						
						  }
						  this.area = area1
						},
						
						sub:function(){
							var that=this
							if (that.areaarr[0]=='') {
								layer.msg('请选择收货区域')
								
								return;
							}
							if (!that.add_xq) {
								layer.msg('请输入详细地址')
								
								return;
							}
							if(that.type!=3){
								if (!that.xm_fbf) {
									layer.msg('请输入收货人')
									
									return;
								}
								if (!that.tel) {
									layer.msg('请输入联系方式')
									
									return;
								}
								if (that.tel == '' || !(/^1\d{10}$/.test(that.tel))) {
									layer.msg('手机号有误')
									
									return
								}
							}
							
							
							
							
							
							
							var datas = {
								province:that.areaarr[0],
								city:that.areaarr[1],
								district:that.areaarr[2],
								add_xq: that.add_xq,
								service_name: that.xm_fbf,
								mobile:that.tel,
							}
							console.log(datas)
							layer.msg('操作成功')
							setTimeout(function(){
								// parent.layer.close('layer_pwd');
								parent.layer.closeAll();
							},1000)
						},
						quxiao:function(){
							parent.layer.closeAll();
						},
						gettime: function(value) {
								var seperator1 = "-";
								value = new Date(value)
						
								var year = value.getFullYear();
								console.log(year)
								var month = value.getMonth() + 1;
								var strDate = value.getDate();
								if (month >= 1 && month <= 9) {
										month = "0" + month;
								}
								if (strDate >= 0 && strDate <= 9) {
										strDate = "0" + strDate;
								}
								var currentdate = year + seperator1 + month + seperator1 + strDate;
								return currentdate
						}
						
					}
				})
			
			
		</script>
	</body>
</html>
