<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css"/>
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
		<style>
			.tk_btns{
				margin-top: 50px;
			}
			.tk_btns div{
				font-size: 12px;
				color: #fff;
				width: 59px;
				height: 30px;
				background: #EB5F34;
				border-radius: 4px;
				margin: 0 20px;
	 cursor: pointer;
			}
			.tk_btns .tk_btns_d1{
				background: #CACACA;
			}
			.getcode{
				font-size: 12px;
				color: #FFFEFE;
				width: 80px;
				height: 27px;
				background: #EB5F34;
				border-radius: 4px;
	 cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div id="myzhaq" class="w100 set_list">
			<div class="dis_flex aic set_li">
				<div class="set_li_name">快递种类：</div>
				<input type="text" v-model="kd_type" placeholder="请输入快递种类"/>
			</div>
			<div class="dis_flex aic set_li">
				<div class="set_li_name">快递单号：</div>
				<input class="" type="text" v-model="kd_id" placeholder="请输入快递单号"/>
			</div>
			<div class="tk_btns dis_flex aic ju_c">
				<div class="dis_flex aic ju_c"  @click="sub">确定</div>
				<div class="dis_flex aic ju_c tk_btns_d1" @click="quxiao">关闭</div>
			</div>
		</div>
		<script>
			// 意见反馈
		
			
			var vm_myzhaq = new Vue({
					el: '#myzhaq',
					data: {
						kd_type: '',
						kd_id: '',
						order_code:''
					},
					created: function() {
						console.log('vm_myzhaq')
						this.order_code=getNowCanshu().order_code
					},
					methods: {
						
						sub:function(){
							var that=this
							
							if (!that.kd_type) {
								layer.msg('请输入快递种类')
								
								return;
							}
							if (!that.kd_id) {
								layer.msg('请输入快递种类')
								
								return;
							}
						
							
							var datas = {
								order_code:this.order_code,
								express_name: that.kd_type,
								express_code: that.kd_id,
								// password: that.pwd
							}
							if(that.btnkg==1){
								return
							}
							that.btnkg=1
							setTimeout(function(){
								that.btnkg=0
							},1500)
							_post('/Order.GoodsOrderRefund/setRefundInfo', datas, function(res) {
								if (res.status == 200) {
									layer.msg('操作成功')
									setTimeout(function(){
										// parent.layer.close('layer_pwd');
										parent.layer.closeAll();
									},1000)
								}
							})
							console.log(datas)
							
						},
						quxiao:function(){
							parent.layer.closeAll();
						}
						
					}
				})
		</script>
	</body>
</html>
