<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css"/>
		<script src="./js/jquery.min.js"></script>		
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/laydate/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
		<link rel="stylesheet" type="text/css" href="./js/vant/vantIndex.css"/>
		<script src="js/vant/vant.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vant/Area.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/@vant/touch-emulator"></script>
		
		<style>
			.tk_btns{
				margin-top: 10px;
				border-top: 1px solid #E4E4E4;
				padding-top: 20px;
			}
			.tk_btns div{
				font-size: 12px;
				color: #fff;
				width: 59px;
				height: 30px;
				background: #EB5F34;
				border-radius: 4px;
				margin: 0 20px;
	 cursor: pointer;
			}
			.tk_btns .tk_btns_d1{
				background: #CACACA;
			}
			.getcode{
				font-size: 12px;
				color: #FFFEFE;
				width: 80px;
				height: 27px;
				background: #EB5F34;
				border-radius: 4px;
	 cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div id="myzhaq">
			<div class="w100 set_list" style="padding: 10px 50px;">
				<div class="dis_flex aic set_li">
					<div class="set_li_name">项目名称：</div>
					<input type="text" v-model="xm_name" placeholder="请输入项目名称"/>
				</div>
				<div class="dis_flex aic set_li">
					<div class="set_li_name">紧急程度：</div>
					
					<select class="yjfk_wt_list" @change="xm_jj_fuc" v-model="xm_jj_lv">
						<option v-for="(item,index) in xm_jj_lvs" :value="index">{{item.name}}</option>
					</select>
					<!-- <input type="text" id="test1"  v-model="code" placeholder="请选择"/> -->
				</div>
				<div class="dis_flex aic set_li">
					<div class="set_li_name">发布方：</div>
					<input type="text" placeholder="请输入" v-model="xm_fbf"/>
				</div>
				<div class="dis_flex aic set_li">
					<div class="set_li_name">联系方式：</div>
					<input type="text" placeholder="请输入联系方式" v-model="tel"/>
				</div>
				<div class="dis_flex aic set_li" @click="sel_area()">
					<div class="set_li_name">项目位置：</div>
					<!-- <input type="text" class="cpointer" id="city" placeholder="请选择" readonly v-model="xm_add"/> -->
					<input type="text" class="cpointer" v-model="area" placeholder="请选择" readonly />
					<!-- <van-area title="标题" :area-list="areaList" :columns-num="2" /> -->
				</div>
				<div class="dis_flex aic set_li"  @click="show_zm = true">
					<div class="set_li_name">招募截止时间：</div>
					<!-- <input type="text" id="test1"  v-model="zm_time" readonly placeholder="请选择"/> -->
					<input type="text"  v-model="gettime(zm_time)" readonly placeholder="请选择"/>
					
				</div>
				<div class="dis_flex aic set_li"  @click="show_jf = true">
					<div class="set_li_name">项目交付时间：</div>
					<input type="text" id="test2"  v-model="gettime(jf_time)" readonly placeholder="请选择"/>
				</div>
				<div class="dis_flex aic set_li">
					<div class="set_li_name flex_0">项目资质：</div>
					
					<div class="dis_flex fww flex_1" style="padding: 0 10px;">
						<div class="up_img bg_div" v-for="(item,index) in yjfk_img">
							<img @click="up_img_del(index)" class="img_del" src="./img/img_del.png" alt="">
							<div :style="'background-image: url('+getimg(item)+');'"></div>
						</div>
						<div class="up_img" v-if="yjfk_img.length<9">
							<img src="./img/upimg_03.jpg" alt="">
							<!-- <input id="scheaderimg" type="file" @change="getint_img"> -->
							<form id="form">
								<input id="scheaderimg" type="file" name="file" @change="uploadImg($event)">
							</form>
						</div>
					</div>
				</div>
				
				<div class="dis_flex aic set_li">
					<div class="set_li_name">项目介绍：</div>
					<textarea v-model="xm_tdjs"  placeholder="请输入项目介绍"></textarea>
				</div>
			</div>
			<!-- 项目地址 -->
			 <van-popup v-model="show_area" position="bottom" :overlay="true">
				 <van-area :area-list="areaList" :columns-num="3" @confirm="conf" @cancel="cancelfun" />
			 </van-popup>
			 
			 <!-- 招募截止时间 -->
			 <van-popup v-model="show_zm" position="bottom">
			     <van-datetime-picker v-model="zm_time" type="date" :min-date="minDate" :max-date="maxDate" :formatter="formatter" @cancel="show_zm = false" @confirm="onConfirm6" />
			 </van-popup>
			 <!-- 项目交付时间 -->
			 <van-popup v-model="show_jf" position="bottom">
			     <van-datetime-picker v-model="jf_time" type="date" :min-date="minDate" :max-date="maxDate" :formatter="formatter" @cancel="show_jf = false" @confirm="onConfirm6" />
			 </van-popup>
			<div class="tk_btns dis_flex aic ju_c">
				<div class="dis_flex aic ju_c"  @click="sub">确定</div>
				<div class="dis_flex aic ju_c tk_btns_d1" @click="quxiao">关闭</div>
			</div>
		</div>
		<script>
			// 意见反馈
			
			$(function(){
				
				// //执行一个laydate实例
				// laydate.render({
				//   elem: '#test1' //指定元素
				// 	// ,range: true
				// 	 ,change: function(value, date, endDate){
				// 	    console.log(value); //得到日期生成的值，如：2017-08-18
				// 	    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
				// 	    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
				// 	  }
				// });
				// //执行一个laydate实例
				// laydate.render({
				//   elem: '#test2' //指定元素
				// 	// ,range: true
				// 	 ,change: function(value, date, endDate){
				// 	    console.log(value); //得到日期生成的值，如：2017-08-18
				// 	    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
				// 	    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
				// 	  }
				// });
				

			})
			
			var vm_myzhaq = new Vue({
					el: '#myzhaq',
					data: {
						areaList:area_data,
						area: '',
						areaarr: ['','',''],
						show_area:false,
						xm_name: '',
						xm_jj_lvs:[
							{name:'不紧急',id:1},
							{name:'紧急',id:2},
						],
						xm_jj_lv:0,
						xm_fbf: '',
						tel:'',
						// xm_add:'',
						
						minDate: new Date(2021, 0, 1),
						maxDate: new Date(2100, 10, 1),
						show_zm: false,
						zm_time:new Date(),
						show_jf: false,
						jf_time:new Date(),
						yjfk_img:[],
						xm_tdjs:'',
					},
					created: function() {
						console.log('vm_myzhaq')
					
					},
					mounted:function(){
						// //执行一个laydate实例
						// laydate.render({
						//   elem: '#test2' //指定元素
						// 	// ,range: true
						// 	 ,change: function(value, date, endDate){
						// 	    console.log(value); //得到日期生成的值，如：2017-08-18
						// 	    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
						// 	    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
						// 	  }
						// });
					},
					methods: {
						getimg:function(img){
							// if(!img){
							// 	return
							// }
							return getimg(img)
						},
						formatter(type, val) {
						    if (type === 'year') {
						        return `${val}年`;
						    } else if (type === 'month') {
						        return `${val}月`
						    } else if (type === 'day') {
						        return `${val}日`;
						    }
						    return val;
						},
						onConfirm(e){
							console.log(e)
						},
						onConfirm6(value) { //购买时间
						    // this.zm_time = gettime(value);
						    this.show_zm = false;
						    this.show_jf = false;
						},
						sel_area:function() {
						  this.show_area = true;
						},
						cancelfun:function() {
						  this.show_area = false;
						},
						conf:function(res) {
						  // alert( JSON.stringify( res ) )
						  this.show_area = false;
						  var area1 = ''
						  this.areaarr = ['', '', '']
						  for (var i in res) {
						    area1 += res[i].name
						    if (res[i] && res[i] != null) {
						      this.areaarr[i] = res[i].name
						    }
						
						  }
						  this.area = area1
						},
						
						xm_jj_fuc:function(e){
							console.log(vm_myzhaq.xm_jj_lv)
							
						},
						uploadImg:function(file){
							var  _this=this
							$.ajax({
								type: "POST",
								url: IPurl+'/Base/upload',
								headers:{
									"Authorization":storage_fuc.getItem("token")||'',
								},
								// beforeSend: function(request) {      //使用beforeSend
								// 	request.setRequestHeader("Authorization", storage_fuc.getItem("token"));
								// },
								
								data: new FormData($('#form')[0]),
								// async:false,
								cache: false,
								processData: false,
								contentType: false,//不去设置Content-Type请求头
								// enctype: 'multipart/form-data',    //需要正确设置此项
								
								success: function(res) {
									// console.log(res);
									if(typeof(res)=='string'){
										res=JSON.parse(res)
									}
									if(res.status == 101){
										parent.location.href="login.html?type=1"
										return
									}
									if (res.status == 200) {
									console.log(res)
										layer.msg('上传成功')
										 _this.yjfk_img.push(res.data)
									} else {
										if(res.msg){
											layer.msg(res.msg)
										}else{
											layer.msg('操作失败')
										}
									}
							
								},
								error: function(err) {
									layer.msg('获取数据失败')
									console.log(err)
								}
							})
							
						},
						up_img_del:function(index){
							var _this=this
							layer.confirm('是否删除该图片？', {
							  btn: ['确定','取消'] //按钮
							}, function(){
							  layer.msg('操作成功');
								_this.yjfk_img.splice(index, 1)
							}, function(){
							  
							});
							
						},
						sub:function(){
							var that=this
							
							if (!that.xm_name) {
								layer.msg('请输入项目名称')
								
								return;
							}
							if (!that.xm_fbf) {
								layer.msg('请输入发布方')
								
								return;
							}
							if (!that.tel) {
								layer.msg('请输入联系方式')
								
								return;
							}
							if (that.tel == '' || !(/^1\d{10}$/.test(that.tel))) {
								layer.msg('手机号有误')
								
								return
							}
							if (that.areaarr[0]=='') {
								layer.msg('请选择项目位置')
								
								return;
							}
							if (!that.zm_time) {
								layer.msg('请选择招募截止时间')
								
								return;
							}
							if (!that.jf_time) {
								layer.msg('请选择项目交付时间')
								
								return;
							}
							if(that.yjfk_img.length==0){
								
									layer.msg('请上传项目资质')
									
									return;
							}
							if (!that.xm_tdjs) {
								layer.msg('请输入项目介绍')
								
								return;
							}
							
							
							var imgs=that.yjfk_img
							if(imgs.length>1){
								for(var i=0;i<imgs.length;i++){
									imgs[i]={
										url:imgs[i],
										title:''
									}
								}
								imgs=JSON.stringify(imgs)
							}
							var datas = {
								title: that.xm_name,
								work_time:that.xm_jj_lvs[that.xm_jj_lv].name,
								service_name: that.xm_fbf,
								mobile:that.tel,
								province:that.areaarr[0],
								city:that.areaarr[1],
								district:that.areaarr[2],
								end_time:that.gettime(that.zm_time),
								pay_time:that.gettime(that.jf_time),
								desc_pic:imgs,
								desc_exp:that.xm_tdjs,
							}
							console.log(datas)
							if(that.btnkg==1){
								return
							}
							that.btnkg=1
							setTimeout(function(){
								that.btnkg=0
							},1500)
							_post('/Article.ArticleNeed/add',datas,function(res){
								 if (res.status == 200){
									 // console.log(res.data.list)
									 layer.msg('操作成功')
									 setTimeout(function(){
									 	// parent.layer.close('layer_pwd');
									 	parent.layer.closeAll();
									 },1000)
								 }
							})
							
						},
						quxiao:function(){
							parent.layer.closeAll();
						},
						gettime: function(value) {
								var seperator1 = "-";
								value = new Date(value)
						
								var year = value.getFullYear();
								console.log(year)
								var month = value.getMonth() + 1;
								var strDate = value.getDate();
								if (month >= 1 && month <= 9) {
										month = "0" + month;
								}
								if (strDate >= 0 && strDate <= 9) {
										strDate = "0" + strDate;
								}
								var currentdate = year + seperator1 + month + seperator1 + strDate;
								return currentdate
						}
						
					}
				})
			
			
		</script>
	</body>
</html>
