<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css" />
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css" />
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/laydate/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
	</head>
	<body>
		<div v-cloak id="body" class="">
			<!-- header -->
			<div class="w100" style="height: 187px;">
				<div class="header_top">
					<include src="./common/header.html"></include>
					<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header.html"></include> -->
				</div>
				<include src="./common/header1.html"></include>
				<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header1.html"></include> -->


				<!-- header -->

				<include src="./common/header_header.html"></include>
			</div>
			<div class="html_main">
				<div class="w1200 dis_flex aift ju_b pt10">
					<div class="my_l_box">
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-RectangleCopy"></i>采购中心</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==0?'cur':''" @click="my_cur_fuc(0)">我的订单
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==1?'cur':''" @click="my_cur_fuc(1)">我的询价
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==2?'cur':''" @click="my_cur_fuc(2)">我的收藏
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==3?'cur':''" @click="my_cur_fuc(3)">我的购物车
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==4?'cur':''" @click="my_cur_fuc(4)">常购商品
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-hezuo1"></i>圈内合作</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==10?'cur':''" @click="my_cur_fuc(10)">我的需求
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==11?'cur':''" @click="my_cur_fuc(11)">我的服务
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-shouhou"></i>售后服务</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==20?'cur':''" @click="my_cur_fuc(20)">退货服务
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==21?'cur':''" @click="my_cur_fuc(21)">意见反馈
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-zichan1"></i>资产中心</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==30?'cur':''" @click="my_cur_fuc(30)">发票管理
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==31?'cur':''" @click="my_cur_fuc(31)">我的积分
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==32?'cur':''" @click="my_cur_fuc(32)">
								我的优惠券</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-xitong"></i>系统设置</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==40?'cur':''" @click="my_cur_fuc(40)">我的账户
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==41?'cur':''" @click="my_cur_fuc(41)">地址管理
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==42?'cur':''" @click="my_cur_fuc(42)">账户安全
							</div>
						</div>
					</div>
					<div v-show="my_cur==0" class="my_r_box">
						<div class="my_r_tit dis_flex ais">
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==0?'cur':''"
								@click="my_r_cur_fuc(0)">全部订单</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==1?'cur':''"
								@click="my_r_cur_fuc(1)">待付款</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==2?'cur':''"
								@click="my_r_cur_fuc(2)">待发货</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==3?'cur':''"
								@click="my_r_cur_fuc(3)">待收货</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==4?'cur':''"
								@click="my_r_cur_fuc(4)">已收货</div>
						</div>
						<div class="my_r_msgbox">
							<form>
								<div class="my_search dis_flex aic">
									<div class="my_search_d1 dis_flex ais ju_b">
										<input class="my_search_d1_int" type="text" placeholder="订单号/商品名称">

										<select class=" my_search_d1_select" v-model="select_id">
											<option v-for="(item,index) in select_arr" :value="item.id">{{item.name}}
											</option>
										</select>
									</div>
									<div class="my_search_btn dis_flex aic ju_c">搜索</div>

									<select class="my_search_d2_select" v-model="select_id1">
										<option v-for="(item,index) in select_arr1" :value="item.id">{{item.name}}
										</option>
									</select>
								</div>

								<div class="order_list_tit bgf3 dis_flex aic">
									<div class="tac order_list_td1">商品</div>
									<div class="tac order_list_td2">售价（元）</div>
									<div class="tac order_list_td3">数量</div>
									<div class="tac order_list_td4">支付方式</div>
									<div class="tac order_list_td5">总计（元）</div>
									<div class="tac order_list_td6">
										<select class="my_search_d3_select m0a" v-model="tab_type_id">
											<option v-for="(item,index) in tab_type" :value="item.id">{{item.name}}
											</option>
										</select>
									</div>
								</div>
								<div class="dis_flex aic order_list_all">
									<div class="order_list_td1">
										<div class="dx_xz_li dis_flex aic" @click="order_xz_fuc(-1)">
											<span class="dx_xz_li_box dis_flex aic ">
												<i v-if="order_all==true" class="iconfont icon-duigou cEE0913"></i>
											</span>
											全选
										</div>
									</div>
								</div>
								<div class="order_li_box" v-for="(item,index) in order_list">
									<div class="order_li_tit dis_flex aic ju_b">
										<div class="dis_flex aic">
											<div class="dx_xz_li dis_flex aic" @click="order_xz_fuc(index,item)">
												<span class="dx_xz_li_box dis_flex aic ">
													<i v-if="item.active" class="iconfont icon-duigou cEE0913"></i>
												</span>
												2020-023-19
											</div>
											<div class="order_li_id">订单号：123458401265490132</div>
										</div>
										<div class="dis_flex aic order_li_del">
											<span v-if="item.pay==1" style="color: #D24043;">待付款</span>
											<span v-if="item.pay==2" style="color:#3994D4;">待发货</span>
											<span v-if="item.pay==3" style="color:#3994D4;">已发货</span>
											<span v-if="item.pay==4" v-else style="color: #666666;">已签收</span>
											<i @click="order_del(index,item)" class="iconfont icon-shanchukaobei"></i>
										</div>
									</div>
									<table class=" order_table">
										<tr v-for="(item1,index1) in item.goods">
											<td class="order_list_td1" rowspan="1">
												<div class="dis_flex aic">
													<div class="order_li_img bg_div">
														<div style="background-image: url(img/cjcg_img_03.jpg);"></div>
													</div>
													<div class="order_li_msg">
														<div class="order_li_msg_name">绥化不锈钢阀门厂家-din15不锈钢</div>
														<div class="order_li_msg_gg">规格：3A/0.45KW</div>
													</div>
												</div>
											</td>
											<td class="order_list_td2" rowspan="1">￥677.00</td>
											<td class="order_list_td3" rowspan="1">1</td>
											<td v-if="index1==0" class="order_list_td4" :rowspan="item.goods.length">
												微信支付</td>
											<td v-if="index1==0" class="order_list_td5" :rowspan="item.goods.length">
												￥677.00</td>
											<td v-if="index1==0" class="order_list_td6" :rowspan="item.goods.length">
												<div class="dis_flex_c aic ju_a">
													<a class="order_li_cz" href="">查看详情</a>
													<a v-if="item.pay==1" class="order_li_cz" href="">去支付</a>
													<a v-if="item.pay==1" class="order_li_cz" href="">取消订单</a>
													<a class="order_li_cz order_li_cz1" href="">开发票</a>
												</div>
											</td>
										</tr>
									</table>
								</div>

								<div class="list_page tac dis_flex">
									<!-- <div class="flex_1"></div>
										<a class="dis_flex aic ju_c look_more">查看更多<span class="dis_flex aic ju_c"><i class="iconfont icon-gengduo1"></i></span></a>
									<div class="flex_1"></div> -->
									<div class="m-style M-box2"></div>
								</div>
							</form>

						</div>
					
					</div>
					<div v-show="my_cur==1" class="my_r_box">
						<!-- my_xj.html -->
						<include src="./common/my_xj.html"></include>
					</div>
					<div v-show="my_cur==2" class="my_r_box">
						<!-- 我的收藏 -->
						<include src="./common/my_shoucang.html"></include>
					</div>
					<!-- 	<div v-show="my_cur==3" class="my_r_box">
						<include src="./common/my_gwc.html"></include>
					</div> -->
					<div v-show="my_cur==4" class="my_r_box">
						<!-- 我的收藏 -->
						<include src="./common/my_cgsp.html"></include>
					</div>
					
					<!-- my_xq.html -->
					<div v-show="my_cur==10" class="my_r_box">
						<!-- 我的需求 -->
						<include src="./common/my_xq.html"></include>
					</div>
					<div v-show="my_cur==11" class="my_r_box">
						<!-- 我的服务 -->
						<include src="./common/my_fw.html"></include>
					</div>
					<div v-show="my_cur==20" class="my_r_box">
						<!-- 退货服务 -->
						<include src="./common/my_thfw.html"></include>
						
					</div>
					<div v-show="my_cur==21" class="my_r_box">
						<!-- 意见反馈 -->
						<include src="./common/my_yjfk.html"></include>
					</div>
					<div v-show="my_cur==30" class="my_r_box">
						<!-- 发票管理 -->
						<include src="./common/my_fp_list.html"></include>
					</div>
					<div v-show="my_cur==31" class="my_r_box">
						<!-- 我的积分 -->
						<include src="./common/my_jf.html"></include>
					</div>
					<div v-show="my_cur==32" class="my_r_box">
						<!-- 我的积分 -->
						<include src="./common/my_yh_list.html"></include>
					</div>
					<!-- my_address.html -->
					<div v-show="my_cur==40" class="my_r_box">
						<!-- 地址管理 -->
						<include src="./common/my_msg.html"></include>
					</div>
					<div v-show="my_cur==41" class="my_r_box">
						<!-- 地址管理 -->
						<include src="./common/my_address.html"></include>
					</div>
					<div v-show="my_cur==42" class="my_r_box">
						<!-- 账号安全 -->
						<include src="./common/my_zhaq.html"></include>
					</div>
				</div>
			</div>




			<include src="./common/footer_f.html"></include>
			<include src="./common/footer.html"></include>
			<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/footer.html"></include> -->

		</div>
<script>
			// var mySwiper
			var that
			var vm
			var layui
			var layer, form
			$(function() {
				vm.my_cur = getNowCanshu().my_cur || 0
				if(vm.my_cur==0){
					vm.my_r_cur=getNowCanshu().my_r_cur || 0
				}
				var loading = layer.load(1, {
					shade: [0.2, '#000'] //0.1透明度的白色背景
				});
				//此处演示关闭
				setTimeout(function() {
					layer.closeAll('loading');
				}, 300);

				//执行一个laydate实例
				laydate.render({
				  elem: '#test1' //指定元素
				});
				$('.M-box2').pagination({
					totalData: 100,
					showData: 10,
					coping: true,
					// mode: 'fixed',
					// homePage: '首页',
					// endPage: '末页',
					prevContent: '上页',
					nextContent: '下页',
					callback: function(api) {
						//console.log(api.getCurrent())
						var page = api.getCurrent()
						// getdatalist(that,type,cityid,cityid1,page,pagesize)
					}
				});

			})

			vm = new Vue({
				el: '#body',
				data: {
					select_arr: [{
							name: '按商品',
							id: 1
						},
						{
							name: '按订单号',
							id: 2
						},
					],
					select_id: 1,
					select_arr1: [{
							name: '高级筛选',
							id: 1
						},
						{
							name: '普通筛选',
							id: 2
						},
					],
					select_id1: 1,
					tab_type: [{
							name: '全部',
							id: 1
						},
						{
							name: '待支付',
							id: 2
						},
						{
							name: '待发货',
							id: 3
						},
						{
							name: '待收货',
							id: 4
						},
						{
							name: '已完成',
							id: 5
						},
					],
					tab_type_id: 1,
					order_list: [{
							goods: [1, 1],
							pay: 1
						},
						{
							goods: [1],
							pay: 2
						},
						{
							goods: [1, 1, 1],
							pay: 3
						},
						{
							goods: [1, 1],
							pay: 4
						},
					],
					order_all: false,
					my_cur: 0,
					my_r_cur: 0,
					
					
					
					
					
					
					
					
					
					
					
					// 退货服务
					tffw_statuc:false,
					xd_time:''
				},
				created: function() {

					that = this
					// if(getCookie('logintoken')){
					// 	that.token = getCookie('logintoken')
					// 	// userMsg = JSON.parse(getCookie('userMsg'))
					// }
					
				},
				methods: {
					order_xz_fuc: function(num, item) {
						if (num == -1) {
							if (!that.order_all) {
								that.order_all = true

							} else {
								that.order_all = false
							}
							for (var i in that.order_list) {
								Vue.set(that.order_list[i], 'active', that.order_all)
							}
						} else {
							if (!item.active) {
								Vue.set(item, 'active', true)
							} else {
								Vue.set(item, 'active', false)
							}
							var qx = true
							for (var i in that.order_list) {
								if (!that.order_list[i].active) {
									qx = false
									break
								}
							}
							console.log(qx)
							//触发全选
							if (qx == true) {
								that.order_all = true
							} else {
								that.order_all = false
							}

						}
						// this.countpri()
					},
					order_del: function(num, item) {
						//询问框

						layer.confirm('是否删除该订单？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							layer.msg('操作成功');
						}, function() {

						});
					},
					my_cur_fuc: function(item) {
						if(item==3){
							window.location.href = "./my_gwc.html?my_cur=" + item
							return
						}
						that.my_cur = item
						window.location.href = "?my_cur=" + item
					},
					my_r_cur_fuc: function(item) {
						that.my_r_cur = item
					},
					getgimg: function(img) {
						var img1 = img.split("^")
						// console.log(img1[0])
						return img1[0]
					},
					//奢华甄选
					getshdata: function() {
						var that = this
						var datas = {
							apipage: 'travel',
							op: 'travel_data_list',
							type: 3,
							keyword: 'shzx'
						}
						$.ajax({
							type: "GET",
							url: IPurl,
							data: datas,
							success: function(res) {
								// console.log(res);
								if (typeof(res) == 'string') {
									res = JSON.parse(res)
								}
								if (res.error == 0) {
									var resultd = res.list
									that.shdata = resultd

								} else {
									layer.msg('获取数据失败')
								}

							},
							error: function(err) {
								layer.msg('获取数据失败')
								console.log(err)
							}
						})
					},
					formatter: function(value) {
						if (!value) {
							return value
						}
						if (value >= 10000 && value < 10000000) {
							value = (value / 10000).toFixed(1) + "万";
						} else if (value >= 10000000) {
							value = (value / 10000000).toFixed(1) + "千万";
						}
						return value;
					},

				}
			})
		</script>
	</body>
</html>
