<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css" />
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css" />
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/laydate/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
	</head>
	<body>
		<div v-cloak id="body" class="">
			<!-- header -->
			<div class="w100" style="height: 187px;">
				<div class="header_top">
					<include src="./common/header.html"></include>
					<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header.html"></include> -->
				</div>
				<include src="./common/header1.html"></include>
				<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header1.html"></include> -->


				<!-- header -->

				<include src="./common/header_header.html"></include>
			</div>
			<div class="html_main">
				<div class="w1200 dis_flex aift ju_b pt10">
					<div class="my_l_box">
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-RectangleCopy"></i>采购中心</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==0?'cur':''" @click="my_cur_fuc(0)">我的订单
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==1?'cur':''" @click="my_cur_fuc(1)">我的询价
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==2?'cur':''" @click="my_cur_fuc(2)">我的收藏
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==3?'cur':''" @click="my_cur_fuc(3)">我的购物车
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==4?'cur':''" @click="my_cur_fuc(4)">常购商品
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-hezuo1"></i>圈内合作</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==10?'cur':''" @click="my_cur_fuc(10)">我的需求
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==11?'cur':''" @click="my_cur_fuc(11)">我的服务
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-shouhou"></i>售后服务</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==20?'cur':''" @click="my_cur_fuc(20)">退货服务
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==21?'cur':''" @click="my_cur_fuc(21)">意见反馈
							</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-zichan1"></i>资产中心</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==30?'cur':''" @click="my_cur_fuc(30)">发票管理
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==31?'cur':''" @click="my_cur_fuc(31)">我的积分
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==32?'cur':''" @click="my_cur_fuc(32)">
								我的优惠券</div>
						</div>
						<div class="my_l_list_tit dis_flex aic"><i class="iconfont icon-xitong"></i>系统设置</div>
						<div class="my_l_list">
							<div class="my_l_li dis_flex aic" :class="my_cur==40?'cur':''" @click="my_cur_fuc(40)">我的账户
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==41?'cur':''" @click="my_cur_fuc(41)">地址管理
							</div>
							<div class="my_l_li dis_flex aic " :class="my_cur==42?'cur':''" @click="my_cur_fuc(42)">账户安全
							</div>
						</div>
					</div>
					<div v-if="my_cur==0" class="my_r_box">
						<div class="my_r_tit dis_flex ais">
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==''?'cur':''"
								@click="my_r_cur_fuc('')">全部订单</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==1?'cur':''"
								@click="my_r_cur_fuc(1)">待付款</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==2?'cur':''"
								@click="my_r_cur_fuc(2)">待发货</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==3?'cur':''"
								@click="my_r_cur_fuc(3)">待收货</div>
							<div class="my_r_tit_tab dis_flex aic ju_c" :class="my_r_cur==4?'cur':''"
								@click="my_r_cur_fuc(4)">已收货</div>
						</div>
						<div class="my_r_msgbox">
							<form>
								<div class="my_search dis_flex aic">
									<div class="my_search_d1 dis_flex ais ju_b">
										<input class="my_search_d1_int" type="text" placeholder="订单号/商品名称" v-model="order_keyword">

										<select class=" my_search_d1_select" v-model="select_id">
											<option v-for="(item,index) in select_arr" :value="item.id">{{item.name}}
											</option>
										</select>
									</div>
									<div class="my_search_btn dis_flex aic ju_c" @click="getdata_order(1)">搜索</div>

									<!-- <select class="my_search_d2_select" v-model="select_id1">
										<option v-for="(item,index) in select_arr1" :value="item.id">{{item.name}}
										</option>
									</select> -->
								</div>

								<div class="order_list_tit bgf3 dis_flex aic">
									<div class="tac order_list_td1">商品</div>
									<div class="tac order_list_td2">售价（元）</div>
									<div class="tac order_list_td3">数量</div>
									<div class="tac order_list_td4">支付方式</div>
									<div class="tac order_list_td5">总计（元）</div>
									<div class="tac order_list_td6">
										<select class="my_search_d3_select m0a" v-model="my_r_cur">
											<option v-for="(item,index) in tab_type" :value="item.id">{{item.name}}
											</option>
										</select>
									</div>
								</div>
								<div v-if="order_list.length>0" class="dis_flex aic order_list_all">
									<div class="order_list_td1">
										<div class="dx_xz_li dis_flex aic" >
											<span class="dx_xz_li_box dis_flex aic " @click="order_xz_fuc(-1)">
												<i v-if="order_all==true" class="iconfont icon-duigou cEE0913"></i>
											</span>
											<a @click="order_xz_fuc(-1)">全选</a>
											<div class="ml30" @click="order_del(-1)">批量删除</div>
										</div>
										
									</div>
								</div>
								<div class="order_li_box" v-for="(item,index) in order_list">
									<div class="order_li_tit dis_flex aic ju_b">
										<div class="dis_flex aic">
											<div class="dx_xz_li dis_flex aic" @click="order_xz_fuc(index,item)">
												<span v-if="item.order_status==4" class="dx_xz_li_box dis_flex aic ">
													<i v-if="item.active" class="iconfont icon-duigou cEE0913"></i>
												</span>
												{{gettime(item.create_time)}}
											</div>
											<div class="order_li_id">订单号：{{item.order_code}}</div>
										</div>
										<div class="dis_flex aic order_li_del">
											<span v-if="item.order_status==1" style="color: #D24043;">待付款</span>
											<span v-if="item.order_status==2" style="color:#3994D4;">待发货</span>
											<span v-if="item.order_status==3" style="color:#3994D4;">已发货</span>
											<span v-if="item.order_status==4" style="color: #666666;">已签收</span>
											<span v-if="item.order_status==5" style="color: #666666;">已取消</span>
											<i v-if="item.order_status==4" @click="order_del(index,item)" class="iconfont icon-shanchukaobei"></i>
										</div>
									</div>
									<table class=" order_table">
										<tr v-for="(item1,index1) in item.goods">
											<td class="order_list_td1" rowspan="1">
												<div class="dis_flex aic">
													<div class="order_li_img bg_div">
														<div v-if="item1.goods_pic" :style="'background-image: url('+getimg_fuc(item1.goods_pic)+');'"></div>
													</div>
													<div class="order_li_msg">
														<div class="order_li_msg_name">{{item1.goods_name}}</div>
														<div class="order_li_msg_gg">规格：{{item1.goods_sku}}</div>
													</div>
												</div>
											</td>
											<td class="order_list_td2" rowspan="1">￥{{item1.goods_price}}</td>
											<td class="order_list_td3" rowspan="1">{{item1.goods_sum}}</td>
											<td v-if="index1==0" class="order_list_td4" :rowspan="item.goods.length">
													<span v-if="item.pay_type==1">微信</span>
													<span v-if="item.pay_type==2">支付宝</span>
													<span v-if="item.pay_type==3">银行转账</span>
											</td>
											<td v-if="index1==0" class="order_list_td5" :rowspan="item.goods.length">
												￥{{item.pay_money}}</td>
											<td v-if="index1==0" class="order_list_td6" :rowspan="item.goods.length">
												<div class="dis_flex_c aic ju_a">
													<a class="order_li_cz" :href="'order_xq.html?id='+item.goods_order_id">查看详情</a>
													<a v-if="item.order_status==1" class="order_li_cz" :href="'jst.html?order_code='+item.order_code+'&pay_money='+item.pay_money">去支付</a>
													<span v-if="item.order_status==1" class="order_li_cz cpointer" @click="order_off(item)">取消订单</span>
													<span v-if="item.order_status==3" class="order_li_cz cpointer" @click="order_get(item)">确认收货</span>
													<span v-if="item.receipt_type==0" class="order_li_cz order_li_cz1 cpointer" @click="open_fp(item)">开发票</span>
												</div>
											</td>
										</tr>
									</table>
								</div>
								<div class="w100" v-if="order_list.length==0" style="line-height: 100px;text-align: center;color: #999;">暂无数据</div>
								<div v-show="order_list.length>0" class="list_page tac dis_flex">
									<!-- <div class="flex_1"></div>
										<a class="dis_flex aic ju_c look_more">查看更多<span class="dis_flex aic ju_c"><i class="iconfont icon-gengduo1"></i></span></a>
									<div class="flex_1"></div> -->
									<div class="m-style M-box_order"></div>
								</div>
							</form>

						</div>
					
					</div>
					<div v-if="my_cur==1" class="my_r_box">
						<!-- my_xj.html -->
						<include src="./common/my_xj.html"></include>
					</div>
					<div v-if="my_cur==2" class="my_r_box">
						<!-- 我的收藏 -->
						<include src="./common/my_shoucang.html"></include>
					</div>
					<!-- 	<div v-show="my_cur==3" class="my_r_box">
						<include src="./common/my_gwc.html"></include>
					</div> -->
					<div v-if="my_cur==4" class="my_r_box">
						<!-- 常购 -->
						<include src="./common/my_cgsp.html"></include>
					</div>
					
					<!-- my_xq.html -->
					<div v-if="my_cur==10" class="my_r_box">
						<!-- 我的需求 -->
						<include src="./common/my_xq.html"></include>
					</div>
					<div v-if="my_cur==11" class="my_r_box">
						<!-- 我的服务 -->
						<include src="./common/my_fw.html"></include>
					</div>
					<div v-if="my_cur==20" class="my_r_box">
						<!-- 退货服务 -->
						<include src="./common/my_thfw.html"></include>
						
					</div>
					<div v-if="my_cur==21" class="my_r_box">
						<!-- 意见反馈 -->
						<include src="./common/my_yjfk.html"></include>
					</div>
					<div v-if="my_cur==30" class="my_r_box">
						<!-- 发票管理 -->
						<include src="./common/my_fp_list.html"></include>
					</div>
					<div v-if="my_cur==31" class="my_r_box">
						<!-- 我的积分 -->
						<include src="./common/my_jf.html"></include>
					</div>
					<div v-if="my_cur==32" class="my_r_box">
						<!-- 我的积分 -->
						<include src="./common/my_yh_list.html"></include>
					</div>
					<!-- my_address.html -->
					<div v-if="my_cur==40" class="my_r_box">
						<!-- 我的账号 -->
						<include src="./common/my_msg.html"></include>
					</div>
					<div v-if="my_cur==41" class="my_r_box">
						<!-- 地址管理 -->
						<include src="./common/my_address.html"></include>
					</div>
					<div v-if="my_cur==42" class="my_r_box">
						<!-- 账号安全 -->
						<include src="./common/my_zhaq.html"></include>
					</div>
				</div>
			</div>




			<include src="./common/footer_f.html"></include>
			<include src="./common/footer.html"></include>
			<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/footer.html"></include> -->

		</div>
<script>
			// var mySwiper
			var that
			var vm
			var layui
			var layer, form
			$(function() {
				
				var loading = layer.load(1, {
					shade: [0.2, '#000'] //0.1透明度的白色背景
				});
				//此处演示关闭
				setTimeout(function() {
					layer.closeAll('loading');
				}, 300);

				//执行一个laydate实例
				laydate.render({
				  elem: '#test1' //指定元素
				});
				

			})

			vm = new Vue({
				el: '#body',
				data: {
					order_keyword:'',
					select_arr: [{
							name: '按商品',
							id: 1
						},
						{
							name: '按订单号',
							id: 2
						},
					],
					select_id: 1,
					select_arr1: [{
							name: '高级筛选',
							id: 1
						},
						{
							name: '普通筛选',
							id: 2
						},
					],
					select_id1: 1,
					tab_type: [{
							name: '全部',
							id: ''
						},
						{
							name: '待支付',
							id: 1
						},
						{
							name: '待发货',
							id: 2
						},
						{
							name: '待收货',
							id: 3
						},
						{
							name: '已完成',
							id: 4
						},
					],
					tab_type_id: '',
					order_list: [],
					order_all: false,
					my_cur: -1,
					my_r_cur: 0,
					
					
					
					
					
					
					
					
					
					
					
					// 退货服务
					tffw_statuc:false,
					xd_time:'',
					
					
					user_datas:'',
					token:'',
				},
				created: function() {

					that = this
					// console.log(storage_fuc.getItem("user"))
					if(storage_fuc.getItem("user")){
						login_m(function(res){
							that.user_datas=res.data
							that.token=res.token
						})
						
					}else{
						window.location.replace('login.html')
						return
					}
					this.my_cur = getNowCanshu().my_cur || 0
					if(this.my_cur==0){
						this.my_r_cur=getNowCanshu().my_r_cur || ''
					}
					that.getdata_order(1)
				},
				watch:{
					
					my_r_cur:function(val){
						this.getdata_order(1)
					},
				},
				methods: {
					gettime:function(time){
						return gettime(time,'-')
					},
					getimg_fuc:function(img){
						return getimg(img)
					},
					order_off:function(item){
						layer.confirm('是否取消该订单？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							
							var datas = {
								goods_order_id:item.goods_order_id
								
							}
							if(that.btnkg==1){
								return
							}
							that.btnkg=1
							setTimeout(function(){
								that.btnkg=0
							},1500)
							_post('/Order.GoodsOrder/offOrder', datas, function(res) {
								if (res.status == 200) {
									// console.log(res.data.list)
									layer.msg('操作成功');
									setTimeout(function(){
										that.getdata_order(1)
									},1000)
								}
							})
						}, function() {
						
						});
					},
					order_get:function(item){
						var datas = {
							goods_order_id:item.goods_order_id
							
						}
						if(that.btnkg==1){
							return
						}
						that.btnkg=1
						setTimeout(function(){
							that.btnkg=0
						},1500)
						_post('/Order.GoodsOrder/orderFinish', datas, function(res) {
							if (res.status == 200) {
								layer.msg('操作成功');
								setTimeout(function(){
									that.getdata_order(1)
								},1000)
							}
						})
					},
					open_fp:function(item){
						layer_pwd=layer.open({
						  type: 2,
						  title: '发布需求',
						  shadeClose: true,
							scrollbar: false,
						  shade: 0.8,
						  area: ['500px', '500px'],
						  content: './tk_sq_kb.html?id='+item.goods_order_id ,//iframe的url
							end: function () { //最后执行reload
							 window.location.replace('')
							}
						}); 
					},
					getdata_order:function(page){
						var datas={
							limit:10,
							page:page||1,
							// type:this.wenti_list_id,
							order_status:this.my_r_cur,
							search_keyword:this.order_keyword,
							search_type:this.select_id
						}
						var jkurl='/Order.GoodsOrder/myList'
						layer.load(1,{
							shade: [0.2,'#000'] //0.1透明度的白色背景
						});
						setTimeout(function(){
						  layer.closeAll('loading');
						}, 1000);
						_get(jkurl,datas,function(res){
							 if (res.status == 200){
								 // console.log(res.data.list)
								 vm.order_list=res.data.list
								 if(page==1){
									 $('.M-box_order').pagination({
									 	totalData: res.data.count,
									 	showData: 10,
									 	coping: true,
									 	// mode: 'fixed',
									 	// homePage: '首页',
									 	// endPage: '末页',
									 	prevContent: '上页',
									 	nextContent: '下页',
									 	callback: function(api) {
									 		console.log(api.getCurrent())
									 		var page = api.getCurrent()
									 		vm.getdata_order(page)
									 	}
									 });
								 }
							 }
						})
					},
					order_xz_fuc: function(num, item) {
						if (num == -1) {
							if (!that.order_all) {
								that.order_all = true

							} else {
								that.order_all = false
							}
							for (var i in that.order_list) {
								Vue.set(that.order_list[i], 'active', that.order_all)
							}
						} else {
							if (!item.active) {
								Vue.set(item, 'active', true)
							} else {
								Vue.set(item, 'active', false)
							}
							var qx = true
							for (var i in that.order_list) {
								if (that.order_list[i].order_status==4&&!that.order_list[i].active) {
									qx = false
									break
								}
							}
							console.log(qx)
							//触发全选
							if (qx == true) {
								that.order_all = true
							} else {
								that.order_all = false
							}

						}
						// this.countpri()
					},
					order_del: function(num, item) {
						//询问框
						var del_dis=[]
						for (var i in that.order_list) {
							if (that.order_list[i].order_status==4&&that.order_list[i].active) {
								del_dis.push(that.order_list[i].goods_order_id)
							}
						}
						del_dis=del_dis.join(',')
						console.log('del_dis》》》》》》》》》》》》')
						console.log(del_dis)
						if(del_dis.length==0){
							layer.msg('请选择订单')
							return
						}
						layer.confirm('是否删除选中的订单？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							
							var datas = {
								goods_order_ids:item.goods_order_id
								
							}
							if(num==-1){
								datas = {
									goods_order_ids:del_dis
									
								}
							}
							if(that.btnkg==1){
								return
							}
							that.btnkg=1
							setTimeout(function(){
								that.btnkg=0
							},1500)
							_post('/Order.GoodsOrder/deleteOrder', datas, function(res) {
								if (res.status == 200) {
									layer.msg('操作成功');
									setTimeout(function(){
										that.getdata_order(1)
									},1000)
								}
							})
						}, function() {

						});
					},
					my_cur_fuc: function(item) {
						if(item==3){
							window.location.href = "./my_gwc.html?my_cur=" + item
							return
						}
						that.my_cur = item
						window.location.href = "?my_cur=" + item
					},
					my_r_cur_fuc: function(item) {
						that.my_r_cur = item
						that.getdata_order(1)
					},
					getgimg: function(img) {
						var img1 = img.split("^")
						// console.log(img1[0])
						return img1[0]
					},
					
					formatter: function(value) {
						if (!value) {
							return value
						}
						if (value >= 10000 && value < 10000000) {
							value = (value / 10000).toFixed(1) + "万";
						} else if (value >= 10000000) {
							value = (value / 10000000).toFixed(1) + "千万";
						}
						return value;
					},

				}
			})
		</script>
	</body>
</html>
