<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css"/>
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div  class="">
			<!-- header -->
			<div class="w100" style="height: 187px;">
				<div class="header_top">
					<include src="./common/header.html"></include>
					<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header.html"></include> -->
				</div>
				<include src="./common/header1.html"></include>
				<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header1.html"></include> -->
			
			
				<!-- header -->
			
				<include src="./common/header_header.html"></include>
			</div>
			<div v-cloak id="body" class="html_main" style="padding-top: 4px;">
				<div class="w1200 dis_flex ais">
					<div class="main_L   flex_0">
						<div class="main_L_z">
							<div class="bg_div cpointer" :class="{'cur':banner_index==index}" v-for="(item,index) in banner" @click="setswiper(index)">
								<div v-if="item.pic" :style="'background-image: url('+getimg_fuc(item.pic)+');'"></div>
							</div>
						</div>
					</div>
					<div class="main_R flex_1 dis_flex ais ju_b">
						<a :href="banner[banner_index].url_link?banner[banner_index].url_link:'###'" class="bg_div index_baner">
							<div v-if="banner[banner_index]" :style="'background-image: url('+getimg_fuc(banner[banner_index].pic)+');'"></div>
						</a>
						<div class="main_R_list">
							<div class="main_list_tit dis_flex aic ju_b">
								<img class="main_list_tit_img" src="img/zyzx.png" >
								<a href="zixun.html">更多<i class="iconfont icon-next-m"></i></a>
							</div>
							<div class="w100">
								<a class="dis_flex aic main_li" :href="'zixun_xq.html?id='+item.article_member_info_id" v-for="(item,index) in zx_list" title="港口钢材1折优惠，还不还不还不还不还不">
									<span class="main_li_icon dis_flex aic ju_c flex_0">资讯</span>
									<span class="oh1">{{item.title}}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 圈内合作 -->
				<div class="w1200">
					<div class="i_qnhz">
						<div class="i_qnhz_tit dis_flex aic">
							<div class="dis_flex aib"><span>圈内合作</span>筑采为您服务</div>
						</div>
						<div class="dis_flex aic ju_b">
							<a href="qnhz.html?header_cur=2&type=0" class="hz_type bg_div">
								<div class="hz_type_1" style="background-image: url(img/qnhz_bg_15.jpg);">
									<div class="hz_type_tit">
										<span>我是服务方</span>筑采管家，为您提供更多资源放心找人，找合作，找项目
									</div>
									<div class="hz_type_hg"></div>
									<div class="dis_flex aic fww">
										<div class="hz_li">
											<i class="iconfont icon-xiangmu"></i>
											<span>找项目</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
										<div class="hz_li">
											<i class="iconfont icon-zhaoren"></i>
											<span>找人</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
										<div class="hz_li">
											<i class="iconfont icon-hezuo"></i>
											<span>找合作</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
									</div>
								</div>
							</a>
							<a href="qnhz.html?header_cur=2&type=1" class="hz_type bg_div">
								<div class="hz_type_1" style="background-image: url(img/qnhz_bg_15.jpg);">
									<div class="hz_type_tit">
										<span>我是需求方</span>筑采管家，为您提供优质合作伙伴
									</div>
									<div class="hz_type_hg"></div>
									<div class="dis_flex aic fww">
										<div class="hz_li">
											<i class="iconfont icon-xiangmu"></i>
											<span>提供项目</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
										<div class="hz_li">
											<i class="iconfont icon-zhaoren"></i>
											<span>提供人</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
										<div class="hz_li">
											<i class="iconfont icon-hezuo"></i>
											<span>提供合作</span>
											<i class="iconfont icon-gengduo1"></i>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					
						<div class="i_qnhz">
							<div class="i_qnhz_tit dis_flex aic ju_b">
								<div class="dis_flex aib"><span>场景采购</span>产品拥有场景</div>
								<a href="cjcg.html?header_cur=1" class="dis_flex aic c6">更多场景<i class="iconfont icon-gengduo1"></i></a>
							</div>
							<div class="dis_flex aic ">
								<a :href="'cjcg.html?header_cur=1&goods_cate_scene_id='+item.goods_cate_scene_id+'&cj_xz='+JSON.stringify(item)" class="cjcg_li bg_div bg_div_hover" v-for="(item,index) in cjcg">
									<div :style="'background-image: url('+getimg_fuc(item.pic)+ ');'">
										<!-- <div class="cjcg_tit">{{item.cate_name}}</div> -->
									</div>
								</a>
							</div>
						</div>
				</div>
			</div>
			
			
		
			
			<include src="./common/footer_f.html"></include>
			<include src="./common/footer.html"></include>
			<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/footer.html"></include> -->
			
		</div>
		<script>
			// var mySwiper
			/*$(function(){
				mySwiper = new Swiper('.main_L_z',{
					mode : 'vertical',
					slidesPerView : 3,
					loop : true,
					autoplay: 3000,
					onSlideChangeEnd: function(swiper){
						// alert('事件触发了;');
						// console.log(swiper)
						// console.log(swiper.activeLoopIndex)
						vm.banner_index=swiper.activeLoopIndex
					},
					onSlideClick:function(swiper) {
						console.log(swiper)
						console.log(swiper.clickedSlideIndex)
						// mySwiper.swipeTo(swiper.clickedSlideIndex, 1000, true);
						// vm.banner_index=swiper.clickedSlideIndex
					}
				}); 
			}) */
			
			var that
			var vm = new Vue({
				el: '#body',
				data: {
					
					banner:[],
					banner_index:0,
					cjcg:[],
					zx_list:[]
				},
				created: function() {
					
					that=this
					// if(getCookie('logintoken')){
					// 	that.token = getCookie('logintoken')
					// 	// userMsg = JSON.parse(getCookie('userMsg'))
					// }
					that.get_banner()
				},
				methods: {
					getimg_fuc:function(img){
						return getimg(img)
					},
					setswiper:function(index){
						console.log(index)
						that.banner_index=index
						// mySwiper.swipeTo(index, 1000, false)
					},
					getgimg:function(img) {
						var img1 = img.split("^")
						// console.log(img1[0])
						return img1[0]
					},
					get_banner:function(){
						var datas={
							place_type:1
						}
						_get('/Config.Banner/index',datas,function(res){
							 if (res.status == 200){
								 console.log(res.data.list)
								 that.banner=res.data.list
								 that.get_CateScene()
								 that.get_zixun()
							 }
						})
					},
					get_zixun:function(){
						var datas={
							limit:18,
							page:1
						}
						_get('/Article.MemberInfo/index',datas,function(res){
							 if (res.status == 200){
								 console.log(res.data.list)
								 that.zx_list=res.data.list
							 }
						})
					},
					get_CateScene:function(){
						var datas={
							limit:6,
							page:1
						}
						_get('/Goods.CateScene/index',datas,function(res){
							 if (res.status == 200){
								 console.log(res.data.list)
								 that.cjcg=res.data.list
							 }
						})
					},
					//奢华甄选
					getshdata:function(){
						var that=this
						var datas={
							apipage:'travel',
							op:'travel_data_list',
							type:3,
							keyword:'shzx'
						}
						$.ajax({
							type: "GET",
							url: IPurl,
							data: datas,
							success: function(res) {
								// console.log(res);
								if(typeof(res)=='string'){
									res=JSON.parse(res)
								}
								if (res.error == 0) {
									var resultd = res.list
									that.shdata = resultd
									
								} else {
									layer.msg('获取数据失败')
								}
						
							},
							error: function(err) {
								layer.msg('获取数据失败')
								console.log(err)
							}
						})
					},
					formatter:function(value) {
					    if(!value){
					    	return value
					    }
					    if (value >= 10000 && value < 10000000) {
					      value = (value / 10000).toFixed(1) + "万";
					    } else if (value >= 10000000) {
					      value = (value / 10000000).toFixed(1) + "千万";
					    }
					    return value;
					},
					
				}
			})
			
		</script>
	</body>
</html>
