<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css" />
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.min.css" />
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<script src="./js/swiper/js/swiper4.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
	</head>
	<body>
		<div class="">
			<div class="w100" style="height: 187px;">
				<div class="header_top">
					<include src="./common/header.html"></include>
					<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header.html"></include> -->
				</div>
				<include src="./common/header1.html"></include>
				<!-- <include src="http://www.wanbonet.com/suxin/79_zhucaiguanjia/common/header1.html"></include> -->
			
			
				<!-- header -->
			
				<include src="./common/header_header.html"></include>
			</div>
			<div v-cloak id="body" class="w100 bgf">
				<div class="w1200">
					<div class="swiper-container swiper_hz">
						<div class="swiper-button-prev swiper-button-prev2"></div>
						<div class="swiper-button-next swiper-button-next2"></div>
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="(item,index) in banner" style="width: 100%;height: 240px;display: block;">
								<a :href="item.url_link?item.url_link:'###'" class="bg_div" style="width: 100%;height: 240px;display: block;">
									<div  :style="'background-image: url('+getimg_fuc(item.pic)+');'"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="hz_index_tabs dis_flex ais ju_a">
						<div class="dis_flex aic ju_a" :class="hz_type==0?'cur':''" @click="hz_xz(0)">服务方</div>
						<div class="dis_flex aic ju_a" :class="hz_type==1?'cur':''" @click="hz_xz(1)">需求方</div>
					</div>
					<div class="qnhz_bg bg_div">
						<div class="dis_flex aic ju_b" style="background-image: url(img/images/qnhz_index_07.jpg);">
							<div v-if="hz_type==0" class="qnhz_tip"><span>服务方</span>筑采管家，为您提供更多资源放心找人，找合作，找项目</div>
							<div v-else class="qnhz_tip"><span>我是需求方</span>筑采管家，为您提供优质合作伙伴</div>
							<div class="hz_li dis_flex aic ju_b cpointer" @click="open_tk(0)">
								<i class="iconfont icon-xiangmu"></i>
								<span>发布</span>
								<i class="iconfont icon-gengduo1"></i>
							</div>
						</div>
					</div>
					<div class="w1200 dis_flex ais">
						<div class="main_L   flex_0" style="margin-right: 10px;">
							<div class="main_L_z">
								<div  class="bg_div" :class="{'cur':banner_index==index}" v-for="(item,index) in banner1"
									@click="setswiper(index)">
									<div class="cpointer" :style="'background-image: url('+getimg_fuc(item.pic)+');'"></div>
								</div>
							</div>
						</div>
						<div class="main_R flex_1">
							<table class="hz_table">
								<thead>
									<tr style="height: 50px;">
										<th>发布方</th>
										<th>服务项目</th>
										<!-- <th></th> -->
										<th>项目分类</th>
										<th>服务区域</th>
										<th v-if="hz_type==0">合作时间</th>
										<th v-if="hz_type==1">紧急程度</th>
										<th>
											<div class="cpointer" onclick="time_px_fuc()">发布时间<i class="icon-shaixuanpaixu iconfont"></i>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr class="cpointer" v-for="(item,index) in datas" @click="jump_fuc(item)" >
										<td>
											<div>{{item.service_name}}</div>
										</td>
										<td>
											<div class="oh2 table_hz_xm">{{item.title}}</div>
										</td>
										<!-- <td>
											<div class="hz_table_bqs">
												<div v-for="(item1,index1) in item.tag">经验丰富</div>
											</div>
										</td>
										-->
										<td>
											<div>{{item.cate_name}}</div>
										</td> 
										<td>
											<div>{{item.area}}{{item.province}}{{item.city}}{{item.district}}</div>
										</td>
										<td>
											<div v-if="hz_type==0" style="color: #FF1F1F;">{{item.work_time}}</div>
											<div v-if="hz_type==1" style="color: #FF1F1F;">{{item.work_time}}</div>
										</td>
										<td>
											<div>{{gettime(item.create_time)}}</div>
										</td>
									</tr>
								</tbody>

							</table>
							<div class="w100" v-if="datas.length==0" style="line-height: 100px;text-align: center;color: #999;">暂无数据</div>
							<div class="list_page tac">
								<div class="m-style M-box2"></div>
							</div>
						</div>
					</div>
					<div class="w1200">
						<div class="vip_zzfw dis_flex aic ju_c">会员增值服务</div>
						<div class="fwb_box">
							<img src="img/images/qnhz_index_11.jpg">
						</div>
					</div>
				</div>
			</div>




			<include src="./common/footer.html"></include>

		</div>
		<script>
			var mySwiper
			$(function() {
				mySwiper = new Swiper('.swiper_hz', {
					autoplay: true,//可选选项，自动滑动
					loop:true,
					navigation: {
						nextEl: '.swiper-button-next2',
						prevEl: '.swiper-button-prev2',
					},
				})
				if(getNowCanshu().type==1){
					vm.hz_type=1
					getdatalist()
				}else{
					vm.hz_type=0
					getdatalist()
				}
			})

			var that
			var vm = new Vue({
				el: '#body',
				data: {

					banner: [],
					banner1: [],
					banner_index: 0,
					hz_type: 0,
					time_px:0,
					datas:[]
				},
				created: function() {

					that = this
					
					// if(getCookie('logintoken')){
					// 	that.token = getCookie('logintoken')
					// 	// userMsg = JSON.parse(getCookie('userMsg'))
					// }
					that.get_banner()
					that.get_banner1()
				},
				methods: {
					jump_fuc:function(item){
						if(that.hz_type==0){
							jump('qnhz_xq.html?header_cur=2&id='+item.article_service_id+'&hz_type='+that.hz_type)
						}else{
							jump('qnhz_xq.html?header_cur=2&id='+item.article_need_id+'&hz_type='+that.hz_type)
						}
					},
					gettime:function(time){
						return gettime(time,'-')
					},
					open_tk:function(num){
						if(!storage_fuc.getItem("token")){
							window.location.href="login.html?type=1"
							return
						}
						//页面层
						if(that.hz_type==0){
							layer_pwd=layer.open({
							  type: 2,
							  title: '发布服务',
							  shadeClose: true,
							  shade: 0.8,
							  area: ['600px', '660px'],
							  content: './fb_fw.html' ,//iframe的url
								end: function () { //最后执行reload
								 window.location.replace('')
								}
							}); 
						}else{
							layer_pwd=layer.open({
							  type: 2,
							  title: '发布需求',
							  shadeClose: true,
								scrollbar: false,
							  shade: 0.8,
							  area: ['500px', '92%'],
							  content: './fb_xq.html' ,//iframe的url
								end: function () { //最后执行reload
								 window.location.replace('')
								}
							}); 
						}
						
					},
					getimg_fuc:function(img){
						return getimg(img)
					},
					get_banner:function(){
						var datas={
							place_type:2
						}
						_get('/Config.Banner/index',datas,function(res){
							 if (res.status == 200){
								 console.log(res.data.list)
								 that.banner=res.data.list
							 }
						})
					},
					get_banner1:function(){
						var datas={
							place_type:3
						}
						_get('/Config.Banner/index',datas,function(res){
							 if (res.status == 200){
								 console.log(res.data.list)
								 that.banner1=res.data.list
							 }
						})
					},
					hz_xz:function(num) {
						that.hz_type = num
						getdatalist()
					},
					setswiper: function(index) {
						console.log(index)
						that.banner_index = index
						if(that.banner[that.banner_index].url_link){
								window.location.href=that.banner[that.banner_index].url_link
						}
					
						// mySwiper.swipeTo(index, 1000, false)
					},
					getgimg: function(img) {
						var img1 = img.split("^")
						// console.log(img1[0])
						return img1[0]
					},
					
					formatter: function(value) {
						if (!value) {
							return value
						}
						if (value >= 10000 && value < 10000000) {
							value = (value / 10000).toFixed(1) + "万";
						} else if (value >= 10000000) {
							value = (value / 10000000).toFixed(1) + "千万";
						}
						return value;
					},

				}
			})
			function getdatalist(page){
				var datas={
					limit:10,
					page:page||1
				}
				var jkurl='/Article.ArticleService/index'
				if(vm.hz_type==1){
					jkurl='/Article.ArticleNeed/index'
				}
				_get(jkurl,datas,function(res){
					 if (res.status == 200){
						 console.log(res.data.list)
						 that.datas=res.data.list
						 if(page==1){
							 $('.M-box2').pagination({
							 	totalData: res.data.count,
							 	showData: 10,
							 	coping: true,
							 	// mode: 'fixed',
							 	// homePage: '首页',
							 	// endPage: '末页',
							 	prevContent: '上页',
							 	nextContent: '下页',
							 	callback: function(api) {
							 		console.log(api.getCurrent())
							 		var page = api.getCurrent()
							 		getdatalist(page)
							 	}
							 });
						 }
					 }
				})
			}
			function time_px_fuc(){
				if(vm.time_px){
					vm.time_px=0
				}else{
					vm.time_px=1
				}
				console.log(vm.time_px)
			}
		</script>
	</body>
</html>
