<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>筑采管家</title>
		<meta name="keywords" content="筑采管家">
		<meta name="Description" content="筑采管家">
		<meta name="renderer" content="webkit">
		<meta name=renderer content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<link rel="stylesheet" type="text/css" href="./css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./js/swiper/css/swiper.css"/>
		<script src="./js/jquery.min.js"></script>
		<script src="js/include.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/layer/layer.js"></script>
		<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css"/>
		<script src="./js/layui/layui.js"></script>
		<script src="./js/swiper/js/swiper.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/IPurl.js" type="text/javascript" charset="utf-8"></script>
		<link href="js/pagination/pagination.css" rel="stylesheet" type="text/css" />
		<script src="js/pagination/jquery.pagination.js"></script>
		<style>
			.tk_btns{
				margin-top: 50px;
			}
			.tk_btns div{
				font-size: 12px;
				color: #fff;
				width: 59px;
				height: 30px;
				background: #EB5F34;
				border-radius: 4px;
				margin: 0 20px;
	 cursor: pointer;
			}
			.tk_btns .tk_btns_d1{
				background: #CACACA;
			}
			.getcode{
				font-size: 12px;
				color: #FFFEFE;
				width: 80px;
				height: 27px;
				background: #EB5F34;
				border-radius: 4px;
	 cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div id="myzhaq" class="w100 set_list">
			<div class="dis_flex aic set_li">
				<div class="set_li_name">输入手机号：</div>
				<input type="number" v-model="tel" placeholder="请输入手机号"/>
			</div>
			<div class="dis_flex aic set_li">
				<div class="set_li_name">输入验证码：</div>
				<input class="set_li_code" type="number"v-model="code" placeholder="请输入验证码"/>
				<div  v-if="yzm_type==0" class="getcode dis_flex aic ju_c" @click="getCode()">获取验证码</div>
				<div v-if="yzm_type==1" class="getcode dis_flex aic ju_c">{{yztime}}s</div>
			</div>
			<!-- <div class="dis_flex aic set_li">
				<div class="set_li_name">新密码：</div>
				<input type="password" placeholder="请输入密码" v-model="pwd"  maxlength="46"/>
				<div>6-46个字符，区分大小写</div>
			</div>
			<div class="dis_flex aic set_li">
				<div class="set_li_name">确认新密码：</div>
				<input type="password" placeholder="请再次输入密码" v-model="pwd1"  maxlength="46"/>
			</div> -->
			<div class="tk_btns dis_flex aic ju_c">
				<div class="dis_flex aic ju_c"  @click="sub">确定</div>
				<div class="dis_flex aic ju_c tk_btns_d1" @click="quxiao">关闭</div>
			</div>
		</div>
		<script>
			// 意见反馈
			
			$(function(){
				
				
				
			})
			var that
			var vm_myzhaq = new Vue({
					el: '#myzhaq',
					data: {
						tel: '',
						code: '',
						yzm_type: 0,
						yztime: 60,
						pwd: '',
						pwd1: '',
						verify_id:''
					},
					created: function() {
						console.log('vm_myzhaq')
					that = this
					},
					methods: {
						getCode:function() {
						
							if (that.tel == '' || !(/^1\d{10}$/.test(that.tel))) {
								layer.msg('手机号有误')
								return
							}
							if (that.btnkg == 1) {
								return
							} else {
								that.btnkg = 1
							}
							$.ajax({
								type: "post",
								url: IPurl+'/Member.Member/sendSms',
								data: {
									mobile: that.tel
								},
								success: function(res) {
									// console.log(res);
									if(typeof(res)=='string'){
										res=JSON.parse(res)
									}
									if (res.status == 200) {
										vm_myzhaq.verify_id=res.key
										layer.msg('发送成功')
										that.codetime()
										that.btnkg = 0
									} else {
										if(res.msg){
											layer.msg(res.msg)
										}else{
											layer.msg('操作失败')
										}
									}
							
								},
								error: function(err) {
									layer.msg('请求失败')
									console.log(err)
								}
							})
							// uni.showToast({
							// 	icon: 'none',
							// 	title: '发送成功'
							// })
							
							
						},
						codetime:function() {
							var that = this
							var time = 60
							var st = setInterval(function() {
								if (time == 0) {
									that.yzm_type = 0
									clearInterval(st);
								} else {
									var news = time--;
									// console.log(news)
									that.yzm_type = 1
									that.yztime = news
						
								}
							}, 1000);
						},
						sub:function(){
							var that=this
							// 17831126290
							if (that.tel == '' || !(/^1\d{10}$/.test(that.tel))) {
								layer.msg('手机号有误')
								
								return
							}
							
							if (!that.code) {
								layer.msg('请输入验证码')
								
								return;
							}
							
							
							var datas = {
								mobile: that.tel,
								verify: that.code,
								verify_id: that.verify_id
							}
							var jkurl='/Member.Member/updateMobile'
							
							_post(jkurl,datas,function(res){
								 layer.msg('操作成功')
								 var loginCodes=JSON.parse(storage_fuc.getItem('psd'))
								 let newPsd = {phone: that.tel,psd: loginCodes.psd}
								 localStorage.setItem('psd',JSON.stringify(newPsd))
								 setTimeout(function(){
								 	// parent.layer.close('layer_pwd');
								 	parent.layer.closeAll();
								 },1000)
							})
							// console.log(datas)
							
						},
						quxiao:function(){
							parent.layer.closeAll();
						}
						
					}
				})
		</script>
	</body>
</html>
