<div id="vm_footer" class="w100">
	<div class="html_footer">
		<div class="w1200 dis_flex ais ju_b footer_2">
			<div class="footer_21 flex_0">
				<a class="b_logo dis_flex aic" href="index.html">
					<img class="" :src="getimg_fuc(BaseConfig.core.site_logo)">
				</a>
				<div v-if="BaseConfig.base" class="dis_flex">
					<div class="footer_ewm dis_flex_c aic">
						<img :src="getimg_fuc(BaseConfig.base.mobile_qrcode)">
						<span>手机筑采</span>
					</div>
					<div class="footer_ewm dis_flex_c aic">
						<img :src="getimg_fuc(BaseConfig.base.auth_qrcode)">
						<span>官方微信</span>
					</div>
				</div>
			</div>
			<div class="footer_22 dis_flex ais ju_b flex_1">
				<div>
					<div class="footer_url_tit dis_flex aic"><img src="img/footer_url1.png">新手指南</div>
					<a class="footer_url_li" href="cjwt.html?index=1">关于我们</a>
					<a class="footer_url_li" href="cjwt.html?index=2">隐私协议</a>
					<a class="footer_url_li" href="cjwt.html?index=3">常见问题</a>
					<a class="footer_url_li" href="cjwt.html?index=5">会员介绍</a>
				</div>
				<div>
					<div class="footer_url_tit dis_flex aic"><img src="img/footer_url2.png">特色服务</div>
					<a class="footer_url_li" href="cjwt.html?index=7">快速下单</a>
				</div>
				<div>
					<div class="footer_url_tit dis_flex aic"><img src="img/footer_url2.png">支付方式</div>
					<a class="footer_url_li" href="cjwt.html?index=9">发票说明</a>
					<a class="footer_url_li" href="cjwt.html?index=12">在线支付</a>
				</div>
				<div>
					<div class="footer_url_tit dis_flex aic"><img src="img/footer_url2.png">售后服务</div>
					<a class="footer_url_li" href="cjwt.html?index=9">发票说明</a>
					<a class="footer_url_li" href="cjwt.html?index=10">售后政策</a>
					<a class="footer_url_li" href="cjwt.html?index=11">取消订单</a>
				</div>
				<div>
					<div class="footer_url_tit dis_flex aic"><img src="img/footer_url2.png">联系我们</div>
					<a class="footer_url_li" href="###">业务咨询：{{BaseConfig.base.business_mobile}}</a>
					<a class="footer_url_li" href="###">售后服务：{{BaseConfig.base.shop_mobile}}</a>
					<a class="footer_url_li" href="###">邮箱：{{BaseConfig.base.email}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="html_footer2">
		<div class="w1200">
			<div class="footer_yl">
				<a :href="item.url" target="_blank" v-for="(item,index) in ConfigLink">{{item.name}}</a>
				<!-- <a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a>
			<a href="">阿里巴巴集团</a> -->
			</div>
			<div>京公网安备 11011502003418号 | 京ICP备18043280号-1 | {{BaseConfig.core.copyright}}</div>
			<div><img class="footer_jh" src="img/footer_jh.png">北京筑采有限公司版权所有</div>
		</div>
	</div>


</div>
<script>
	var vm_footer = new Vue({
		el: '#vm_footer',
		data: {
			BaseConfig:{},
			ConfigLink:{},
		},
		created: function() {
			this.BaseConfig=JSON.parse(storage_fuc.getItem("BaseConfig"))
			this.ConfigLink=JSON.parse(storage_fuc.getItem("ConfigLink"))
			// ConfigLink
			// that = this
		
		},
		methods: {
			getimg_fuc:function(img){
				return getimg(img)
			},

		}
	})
</script>
