
<style type="text/css">
			*,ul,li,p,a{padding: 0;margin: 0;list-style: none;outline: none;color: #000000;}
			
			.couponsbox_ct{
				border-top: 1px solid #EDEDED;
				padding: 48px 0 0 63px;
				flex-wrap: wrap;
			}
			
			.yhjimg_ct{
				width: 282px;
				height: 119px;
				background: url(img/yhjbg.png) no-repeat;
				position: relative;
				border: 1px solid #fff;
				background-size: 282px 119px;
				margin: 0 19px 24px 0;
			}
			.yhjL_ct{
				width: 35px;
				height: 100%;
				border-right: 1px dashed #fff;
				flex-direction: column;
			}
			.yhjL_ct span{
				color: #fff;
				font-size: 16px;
				color: #FFFFFF;
			}
			
			.yhjR_ct{
				width: 246px;
				height: 100%;
			}
			.yhjR_ct>div:first-of-type{
				width: 184px;
				height: 77px;
				margin-left: 12px;
				border-bottom: 1px solid rgba(250,250,250,0.25);
			}
			.yhjR_ct>div:first-of-type>p:first-of-type{
				padding-top: 8px;
				font-size: 26px;
				font-weight: 400;
				color: #FFFFFF;
			}
			
			.yhjR_ct>div:first-of-type>p:last-of-type{
				font-size: 12px;
				font-weight: 400;
				color: #FFFFFF;
				margin: 7px 0 0 0;
			}
			.yhjR_ct>div:last-of-type>p{
				margin: 14px 0 0 12px;
				font-size: 12px;
				font-weight: 400;
				color: #FFFFFF;
			}
			.yhjR_ct>div:last-of-type>a{
				width: 76px;
				height: 24px;
				background: #FFFFFF;
				border-radius: 12px;
				border: none;
				font-size: 12px;
				font-weight: 400;
				color: #FE6248;
				margin: 9px 0 0 22px;
			}
			.cp_ct{
				cursor: pointer;
			}
			.yhjimg_ct2{
				background: url(img/yhjbg2.png) no-repeat;
				background-size: 282px 119px;
			}
			.yhjimg_ct2>.yhjR_ct>div:last-of-type>a{
				font-size: 12px;
				font-weight: 400;
				color: #D0D0D0;
			}
			.actyhj_ct{
							border: 1px solid red;
							box-sizing: border-box;
							border-radius: 5px;
						}
						.qxyhj{
							font-size: 12px;
							position: absolute;
							top: 0;
							right: 0;
							color: red;
							background-color: rgba(250,250,250,0.5);
							padding: 2px;
						}
		</style>
<div  id="myyjfk" class="w100">
	<div class="dis_flex aic ju_b my_r_box_tit_z">
		<div>
			<i class="iconfont icon-youhuiquan"></i>我的优惠券
		</div>
	</div>
	<div class="w100">
		<form>
			<div class="my_search dis_flex aic">
				<div class="yjfk_xz_name">我的优惠券：</div>
				<select class="yjfk_wt_list" @change="yjfk_wenti" v-model="wenti_list_id">
					<option v-for="(item,index) in wenti_list" :value="item.id">{{item.name}}</option>
				</select>
				<div class="yjfk_xz_name">优惠券类型：</div>
				<select class="yjfk_wt_list" @change="yjfk_wenti" v-model="status_list_id">
					<option v-for="(item,index) in status_list" :value="item.id">{{item.name}}</option>
				</select>
			</div>
			<div class="w100">
				
				<div class="w100 couponsbox_ct flex">
					<div class="yhjimg_ct cp_ct flex aic ju_b"
					v-for="item,index in 4"
					:class="{actyhj_ct:index==yhj}"
					@click="yhj=index">
						<div class="yhjL_ct flex aic ju_c">
							<span>满</span>
							<span>减</span>
							<span>券</span>
						</div>
						<div class="yhjR_ct">
							<div>
								<p>￥33.00</p>
								<p>订单金额满300减33元</p>
							</div>
							<div class="flex">
								<p>2021.02.19-2021.03.22</p>
								<a class="dis_flex aic ju_c" href="./xqy.html">去使用</a>
							</div>
						</div>
						<div class="qxyhj" v-show="index == yhj" @click.stop="yhj=null">取消选中</div>
					</div>
					<div class="yhjimg_ct yhjimg_ct2 cp_ct flex aic ju_b"
					v-for="item,index in 4">
						<div class="yhjL_ct flex aic ju_c">
							<span>满</span>
							<span>减</span>
							<span>券</span>
						</div>
						<div class="yhjR_ct">
							<div>
								<p>￥33.00</p>
								<p>订单金额满300减33元</p>
							</div>
							<div class="flex">
								<p>2021.02.19-2021.03.22</p>
								<a class="dis_flex aic ju_c" href="./xqy.html">去使用</a>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
			
			<!-- <div class="list_page tac dis_flex">
				<!-- <div class="flex_1"></div>
					<a class="dis_flex aic ju_c look_more">查看更多<span class="dis_flex aic ju_c"><i class="iconfont icon-gengduo1"></i></span></a>
				<div class="flex_1"></div> --
				<div class="m-style M-box2"></div>
			</div> -->
		</form>
	</div>
</div>
	
	
<script>
	console.log(111)
	// 意见反馈
	
	$(function(){
		//此处演示关闭
		setTimeout(function(){
		  layer.closeAll('loading');
		}, 300);
		
		
		
		// $('.M-box2').pagination({
		// 		totalData:100,
		// 		showData:10,
		// 		coping: true,
		// 		// mode: 'fixed',
		// 		// homePage: '首页',
		// 		// endPage: '末页',
		// 		prevContent: '上页',
		// 		nextContent: '下页',
		// 		callback: function (api) {
		// 			//console.log(api.getCurrent())
		// 			var page=api.getCurrent()
		// 			// getdatalist(that,type,cityid,cityid1,page,pagesize)
		// 		}
		// }); 
		
		
	})
	
	var vm_myyjfk = new Vue({
			el: '#myyjfk',
			data: {
				yhj: null,
				tab_yjfk_id:0,
				wenti_list:[
					{
						name:'全部优惠券10个',
						id:1
					},
					{
						name:'可用优惠券5个',
						id:2
					},
					{
						name:'已用优惠券3个',
						id:3
					},
					{
						name:'过期优惠券2个',
						id:4
					},
				],
				wenti_list_id:1,
				status_list:[
					{
						name:'不限',
						id:1
					},
					{
						name:'满减',
						id:2
					},
				],
				status_list_id:1,
				yjfk_text:'',
				yjfk_list:[1,1,1,],
				yjfk_fabu:false,
				fb_type:1,
				fb_content:'',
				yjfk_img:[],
				yjfk_fb_user:'',
				yjfk_fb_tel:''
			},
			created: function() {
				console.log('vm_myyjfk')
			
			},
			methods: {
				yjfk_fb_fuc:function(e){
					var _this=this
					if(!_this.fb_content){
						layer.msg('请输入文字说明')
						return
					}
					if(!_this.yjfk_fb_user){
						layer.msg('请输入您的姓名')
						return
					}
					if(!_this.yjfk_fb_tel){
						layer.msg('请输入您的手机号')
						return
					}
					if (_this.yjfk_fb_tel == '' || !(/^1\d{10}$/.test(_this.yjfk_fb_tel))) {
						layer.msg('手机号有误')
						return
					}
					var datas={
						fb_content:_this.fb_content,
						yjfk_fb_user:_this.yjfk_fb_user,
						yjfk_img:_this.yjfk_img.join(','),
						yjfk_fb_tel:_this.yjfk_fb_tel,
					}
					console.log(datas)
					layer.msg('操作成功')
				},
				uploadImg:function(file){
					var  _this=this
					var reader = new FileReader();
					reader.readAsDataURL(file.target.files[0]); // 读出 base64
					reader.onloadend = function () {
					      // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
					     var dataURL = reader.result;//base64
					     // 显示图片
					     // $('#showImg').attr('src',dataURL);
							 _this.yjfk_img.push(dataURL)
							 
							
					};
					return
					var fd=new FormData()
					fd.append('file',file)
					// var datas={
					// 	file:file
					// }
					console.log(file)
					$.ajax({
						type: "POST",
						url: IPurl+'/Base/upload',
						data: fd,
						async:false,
						cache: true,
						processData: false,
						contentType: false,//不去设置Content-Type请求头
						success: function(res) {
							// console.log(res);
							if(typeof(res)=='string'){
								res=JSON.parse(res)
							}
							if (res.error == 0) {
							console.log(res)
								layer.msg('上传成功')
							} else {
								layer.msg('获取数据失败')
							}
					
						},
						error: function(err) {
							layer.msg('获取数据失败')
							console.log(err)
						}
					})
					
				},
				getint_img:function(e){
					var _this=this
					// 检查是否是图片
					// var filePath = $(this).val()
					// console.log(e.target.files[0])
					// var fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();//获取文件后缀名
					// //检查后缀名
					// if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
					//       layer.msg('文件格式必须为：png/jpg/jpeg');
					//       return;  
					// }
					// console.log(e.target.files[0])
					//获取并记录图片的base64编码
					var reader = new FileReader();
					reader.readAsDataURL(e.target.files[0]); // 读出 base64
					reader.onloadend = function () {
					      // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
					     var dataURL = reader.result;//base64
					     // 显示图片
					     // $('#showImg').attr('src',dataURL);
							 _this.yjfk_img.push(dataURL)
							 var datas={
							 	flie:dataURL
							 }
							 _post('/Base/upload',datas,function(){
								 if(typeof(res)=='string'){
								 	res=JSON.parse(res)
								 }
								 if (res.error == 0) {
								 console.log(res)
								 	layer.msg('上传成功')
								 } else {
								 	layer.msg('获取数据失败')
								 }
							 },function(err){
								 layer.msg('获取数据失败')
								 console.log(err)
							 })
							
					};
				},
				up_img_del:function(index){
					var _this=this
					layer.confirm('是否删除该图片？', {
					  btn: ['确定','取消'] //按钮
					}, function(){
					  layer.msg('操作成功');
						_this.yjfk_img.splice(index, 1)
					}, function(){
					  
					});
					
				},
				yjfk_wenti:function(e){
				  console.log(e); //得到select原始DOM对象
				  console.log(vm_myyjfk.wenti_list_id); //得到select原始DOM对象
					return
					
				  console.log(data.value); //得到被选中的值
					vm_myyjfk.wenti_list_id=data.value
					
				},
				tab_yjfk_fuc:function(item) {
					console.log(item)
					this.tab_yjfk_id=item
				}
				
			}
		})
</script>