
<style type="text/css">
			*,ul,li,p,a{padding: 0;margin: 0;list-style: none;outline: none;}
			
			.couponsbox_ct{
				border-top: 1px solid #EDEDED;
				padding: 48px 0 0 63px;
				flex-wrap: wrap;
			}
			
			.yhjimg_ct{
				width: 282px;
				height: 119px;
				background: url(img/yhjbg.png) no-repeat;
				position: relative;
				border: 1px solid #fff;
				background-size: 282px 119px;
				margin: 0 19px 24px 0;
			}
			.yhjL_ct{
				width: 35px;
				height: 100%;
				border-right: 1px dashed #fff;
				flex-direction: column;
			}
			.yhjL_ct span{
				color: #fff;
				font-size: 16px;
				color: #FFFFFF;
			}
			
			.yhjR_ct{
				width: 246px;
				height: 100%;
			}
			.yhjR_ct>div:first-of-type{
				width: 184px;
				height: 77px;
				margin-left: 12px;
				border-bottom: 1px solid rgba(250,250,250,0.25);
			}
			.yhjR_ct>div:first-of-type>p:first-of-type{
				padding-top: 8px;
				font-size: 26px;
				font-weight: 400;
				color: #FFFFFF;
			}
			
			.yhjR_ct>div:first-of-type>p:last-of-type{
				font-size: 12px;
				font-weight: 400;
				color: #FFFFFF;
				margin: 7px 0 0 0;
			}
			.yhjR_ct>div:last-of-type>p{
				margin: 14px 0 0 12px;
				font-size: 12px;
				font-weight: 400;
				color: #FFFFFF;
			}
			.yhjR_ct>div:last-of-type>a{
				width: 76px;
				height: 24px;
				background: #FFFFFF;
				border-radius: 12px;
				border: none;
				font-size: 12px;
				font-weight: 400;
				color: #FE6248;
				margin: 9px 0 0 22px;
			}
			.cp_ct{
				cursor: pointer;
			}
			.yhjimg_ct2{
				background: url(img/yhjbg2.png) no-repeat;
				background-size: 282px 119px;
			}
			.yhjimg_ct2>.yhjR_ct>div:last-of-type>a{
				font-size: 12px;
				font-weight: 400;
				color: #D0D0D0;
			}
			.actyhj_ct{
							border: 1px solid red;
							box-sizing: border-box;
							border-radius: 5px;
						}
						.qxyhj{
							font-size: 12px;
							position: absolute;
							top: 0;
							right: 0;
							color: red;
							background-color: rgba(250,250,250,0.5);
							padding: 2px;
						}
		</style>
<div  id="myyjfk" class="w100" v-cloak>
	<div class="dis_flex aic ju_b my_r_box_tit_z">
		<div>
			<i class="iconfont icon-youhuiquan"></i>我的优惠券
		</div>
	</div>
	<div class="w100">
		<form>
			<div class="my_search dis_flex aic">
				<div class="yjfk_xz_name">我的优惠券：</div>
				<!-- <select class="yjfk_wt_list" @change="getdata_yh(1)" v-model="wenti_list_id"> -->
				<select class="yjfk_wt_list" v-model="wenti_list_id">
					<option v-for="(item,index) in wenti_list" :value="item.id">{{item.name}}</option>
				</select>
				<div class="yjfk_xz_name">优惠券类型：</div>
				<!-- <select class="yjfk_wt_list" @change="getdata_yh(1)" v-model="status_list_id"> -->
				<select class="yjfk_wt_list" v-model="status_list_id">
					<option v-for="(item,index) in status_list" :value="item.id">{{item.name}}</option>
				</select>
			</div>
			<div class="w100">
				
				<div v-if="yh_datas.length>0" class="w100 couponsbox_ct flex">
					<div class="yhjimg_ct cp_ct flex aic ju_b"
					v-for="item,index in yh_datas"
					:class="{yhjimg_ct2:item.status==0||item.time_status==0}"
					@click="yhj=index">
						<div class="yhjL_ct flex aic ju_c">
							<span>满</span>
							<span>减</span>
							<span>券</span>
						</div>
						<div class="yhjR_ct">
							<div>
								<p>￥{{item.cut_money}}</p>
								<p>订单金额满{{item.max_money}}减{{item.cut_money}}元</p>
							</div>
							<div class="flex">
								<p>{{gettime(item.start_time)}}-{{gettime(item.end_time)}}</p>
								<a v-if="item.status==1&&item.time_status==1" class="dis_flex aic ju_c" href="cjcg.html?header_cur=1">去使用</a>
								<a v-else-if="item.status==0" class="dis_flex aic ju_c" href="javascript:;">已使用</a>
								<a v-else-if="item.time_status==0" class="dis_flex aic ju_c" href="javascript:;">已过期</a>
							</div>
						</div>
						<!-- <div class="qxyhj" v-show="index == yhj" @click.stop="yhj=null">取消选中</div> -->
					</div>
					<!-- <div class="yhjimg_ct yhjimg_ct2 cp_ct flex aic ju_b"
					v-for="item,index in 4">
						<div class="yhjL_ct flex aic ju_c">
							<span>满</span>
							<span>减</span>
							<span>券</span>
						</div>
						<div class="yhjR_ct">
							<div>
								<p>￥33.00</p>
								<p>订单金额满300减33元</p>
							</div>
							<div class="flex">
								<p>2021.02.19-2021.03.22</p>
								<a class="dis_flex aic ju_c" href="./cicg.html">去使用</a>
							</div>
						</div>
					</div> -->
				</div>
				
				
				
			</div>
			
			<div class="w100" v-if="yh_datas.length==0" style="line-height: 100px;text-align: center;color: #999;">暂无数据</div>
			<div v-if="yh_datas.length>0" class="list_page tac dis_flex">
				<!-- <div class="flex_1"></div>
					<a class="dis_flex aic ju_c look_more">查看更多<span class="dis_flex aic ju_c"><i class="iconfont icon-gengduo1"></i></span></a>
				<div class="flex_1"></div> -->
				<div class="m-style M-box_yh"></div>
			</div>
		</form>
	</div>
</div>
	
	
<script>
	console.log(111)
	// 意见反馈
	
	$(function(){
		//此处演示关闭
		setTimeout(function(){
		  layer.closeAll('loading');
		}, 300);
		
		
		
		
		
		
	})
	
	var vm_myyh = new Vue({
			el: '#myyjfk',
			data: {
				yhj: null,
				tab_yjfk_id:0,
				wenti_list:[
					{
						name:'全部优惠券0个',
						id:0
					},
					{
						name:'可用优惠券0个',
						id:1
					},
					{
						name:'已用优惠券0个',
						id:2
					},
					{
						name:'过期优惠券0个',
						id:3
					},
				],
				wenti_list_id:0,
				status_list:[
					{
						name:'不限',
						id:0
					},
					{
						name:'满减',
						id:1
					},
				],
				status_list_id:0,
				yjfk_text:'',
				yh_datas:[],
				yjfk_fabu:false,
				fb_type:1,
				fb_content:'',
				yjfk_img:[],
				yjfk_fb_user:'',
				yjfk_fb_tel:''
			},
			created: function() {
				console.log('vm_myyjfk')
			
			},
			mounted:function(){
				
				this.getdata_yh(1)
			},
			watch:{
				
				wenti_list_id:function(val){
					this.getdata_yh(1)
				},
				status_list_id:function(val){
					this.getdata_yh(1)
				},
			},
			methods: {
				gettime:function(time){
					return gettime(time,'.')
				},
				getdata_yh:function(page){
					var datas={
						limit:30,
						page:page||1,
						type:this.wenti_list_id,
						coupon_type:this.status_list_id
					}
					var jkurl='/Member.MemberCoupon/index'
					layer.load(1,{
						shade: [0.2,'#000'] //0.1透明度的白色背景
					});
					setTimeout(function(){
					  layer.closeAll('loading');
					},500);
					_get(jkurl,datas,function(res){
						 if (res.status == 200){
							 console.log(res.data.list)
							 vm_myyh.yh_datas=res.data.list
							 if(page==1){
								// vm_myyh.wenti_list=[
								//  	{
								//  		name:'全部优惠券'+res.count_sum.sumA+'个',
								//  		id:0
								//  	},
								//  	{
								//  		name:'可用优惠券'+res.count_sum.sumB+'个',
								//  		id:1
								//  	},
								//  	{
								//  		name:'已用优惠券'+res.count_sum.sumC+'个',
								//  		id:2
								//  	},
								//  	{
								//  		name:'过期优惠券'+res.count_sum.sumD+'个',
								//  		id:3
								//  	},
								//  ],
								 Vue.set(vm_myyh.wenti_list[0],'name','全部优惠券'+res.data.count_sum.sumA+'个')
								 Vue.set(vm_myyh.wenti_list[1],'name','可用优惠券'+res.data.count_sum.sumB+'个')
								 Vue.set(vm_myyh.wenti_list[2],'name','已用优惠券'+res.data.count_sum.sumC+'个')
								 Vue.set(vm_myyh.wenti_list[3],'name','过期优惠券'+res.data.count_sum.sumD+'个')
								 $('.M-box_yh').pagination({
								 	totalData: res.data.count,
								 	showData: 10,
								 	coping: true,
								 	// mode: 'fixed',
								 	// homePage: '首页',
								 	// endPage: '末页',
								 	prevContent: '上页',
								 	nextContent: '下页',
								 	callback: function(api) {
								 		console.log(api.getCurrent())
								 		var page = api.getCurrent()
								 		vm_myyh.getdata_yh(page)
								 	}
								 });
							 }
						 }
					})
				},
				yjfk_wenti:function(e){
				  console.log(e); //得到select原始DOM对象
				  console.log(vm_myyjfk.wenti_list_id); //得到select原始DOM对象
					return
					
				  console.log(data.value); //得到被选中的值
					vm_myyjfk.wenti_list_id=data.value
					
				},
				tab_yjfk_fuc:function(item) {
					console.log(item)
					this.tab_yjfk_id=item
				}
				
			}
		})
</script>